
<!-- +++++ Welcome Section +++++ -->
<div id="ww">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <%= link_to image_tag("user.png") %> 
        <h1>Hey there, I'm Henk!</h1>
        <p> Every new project is another adventure for me. My experience in application development has always given
          me a new set of tools, so I'm always learning something new. I love what I do, and I want to share my experiences as a learning software developer with the world. </p>

        </div><!-- /col-lg-8 -->
      </div><!-- /row -->
    </div> <!-- /container -->
  </div><!-- /ww -->
  
  
  <!-- +++++ Projects Section +++++ -->
  
  <div class="container pt">
    <div class="row mt centered"> 
      <% for @work in @works %>
      <%= render 'layouts/work_row' %>
      <% end %>
    </div><!-- /row -->
  </div><!-- /container -->
  
  