  <div class="container pt">
    <div class="row mt centered"> 
      <% for @work in @works %>
      <%= render 'layouts/work_row' %>
      <% end %>
    </div><!-- /row -->
  </div><!-- /container -->