<!-- +++++ Information Section +++++ -->
  
    
    <div class="row mt">
      <div class="col-lg-6">
        <h4> WHO HENK IS </h4>
        <p>In 2009 Henk went to an engineering school in Finland. He took part in the Environmental
        Engineering course at the Satakunta University of Applied Sciences. As an engineer in training,
        Henk became profoundly interested in computers and Computer Science. In 2012 he moved back
        to the United States where he attended Bunker Hill Community College in Boston. He first started as a game developer in training, but later landed a developer position at Yet Analytics in Baltimore where he found his love for web development.</p>
      </div><!-- /colg-lg-6 -->
      
      <div class="col-lg-6">
        <h4>SKILLS</h4>
        <p>Ruby + Ruby On Rails</p>
        <p>C# </p>
        <p>Javascript</p>
        <p>HTML + CSS</p>

      </div><!-- /col-lg-6 -->
    </div><!-- /row -->
  </div><!-- /container -->